<h2 style="text-align: center; width: 100%;">Volamos alto, sonamos fuerte</h2>
<p-toolbar>
    <ng-template #start>
        <p-image src="https://imgur.com/lSli4uM.png" width="100"/>
        <p-image src="https://imgur.com/zdHjYOz.png" width="200"/>
    </ng-template>

    <ng-template #center>
        <p-button label="Reservar" text severity="secondary"/>
        <p-button label="Ofertas y destinos" text severity="secondary"/>
        <p-button label="Tu Reserva" text severity="secondary"/>
        <p-button label="Información y ayuda" text severity="secondary"/>
        <p-button label="Lifemiles" text severity="secondary"/>
    </ng-template>

    <ng-template #end>
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" [style]="{ width: '50px', height: '50px' }"/>
    </ng-template>
</p-toolbar>
