<div class="card">
    <p-toolbar>
        <ng-template #start>
            <!-- ORIGEN -->
            <p-dropdown 
                [options]="ciudades" 
                [(ngModel)]="origen" 
                placeholder="Origen"
                optionLabel="name"
                class="mr-3 w-40">
            </p-dropdown>

            <!-- DESTINO -->
            <p-dropdown 
                [options]="ciudades" 
                [(ngModel)]="destino" 
                placeholder="Destino"
                optionLabel="name"
                class="mr-3 w-40">
            </p-dropdown>

            <!-- FECHA IDA-->
            <p-calendar 
                [(ngModel)]="fecha"
                dateFormat="dd/mm/yy"
                placeholder="Fecha Ida"
                class="mr-3">
            </p-calendar>

            <!-- FECHA VUELTA-->
             
            <p-calendar
             *ngIf="flightType == 'doble'" 
                [(ngModel)]="fecha"
                dateFormat="dd/mm/yy"
                placeholder="Fecha Vuelta"
                class="mr-3">
            </p-calendar>

            <!-- PASAJEROS -->
            <p-dropdown 
                [options]="numeros"
                [(ngModel)]="pasajeros"
                placeholder="Pasajeros"
                class="mr-3 w-32">
            </p-dropdown>
        </ng-template>

        <ng-template #end>
            <p-button 
                label="Buscar" 
                icon="pi pi-search"
                severity="primary"
                (onClick)="buscar()">
            </p-button>
        </ng-template>
    </p-toolbar>
</div>
