@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
body {
  font-family: 'Walter Turncoat', cursive !important;
  font-style: normal;
  background-color:#dedbf5 ;
}
.p-component {
  font-family: 'Walter Turncoat', cursive !important;
  font-style: normal;
}