@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "primeicons/primeicons.css";

body {
  font-family: 'Walter Turncoat', cursive !important;
  font-style: normal;
  color: black;
  /* background-color:#dedbf5 ; */
}
.p-component {
  font-family: 'Montserrat', sans-serif !important;
  font-style: normal;
  color: black;
}


.p-button .p-button-label {
    color: rgb(0, 0, 0) !important;   
}

.p-button{
  background-color: #924de6 !important;
}

.p-button:hover {
  background-color: white !important;
}

.p-button:active {
  background-color: white !important;
  
}

.btn-seleccionado {
  background-color: white !important;
  color: black !important;
  
}

.pi {
  color: #000000 !important; /* morado */
}

.col-destino p-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* animación suave */
  cursor: pointer; /* cambia el cursor para que parezca interactivo */
}

.col-destino p-card:hover {
  transform: scale(1.05); /* se agranda un poquito */
  box-shadow: 0 8px 20px rgba(0,0,0,0.3); /* sombra más marcada al pasar */
}

