<div style="width: 80%; margin: 0 auto; display:block; gap: 50px;">    
    <p-card>
        <div style="width: 100%; margin: 0%; display: flex; gap: 40px;">
            <img src="https://imgur.com/UkkS3mt.png" style="width: 60%; height: 520px;">
            <div style="width: 40%; margin: 0%;">
                <h1 style="text-align:end; font-size: 60px;">El pais suena diferente en cada rincón</h1>
                <h2>Vive experiencias únicas en todos los lugares. Compra ya tu vuelo y viaja hasta marzo de 2026.</h2>
            </div>
        </div>
    </p-card>
</div>