<div style="width: 80%; margin: 0 auto; display:block; gap: 50px;">    
    <p-card>
        <div style="width: 100%; margin: 0%; display: flex; gap: 0;">
            <img src="https://caracol.com.co/resizer/v2/Q7JJYHO5PVA6NGYMQVN3T52JEM.jpg?auth=a625797ff0b1815aee02f27365d4224f25ccb858bd93ebbfaecb2c6d4c5219bd&width=650&height=488&quality=70&smart=true" style="width: 60%; height: 500px;">
            <div style="width: 40%; margin: 0%;">
                <h1>Atrévete a descubrir más</h1>
                <h3>Vive experiencias únicas en cada rincón del país. Compra ya tu vuelo y viaja hasta marzo de 2026.</h3>
            </div>
        </div>
    </p-card>
</div>