.marketplace-container {
  width: 90%;
  margin: 50px auto;
  text-align: center;
}

.marketplace-title {
  font-size: 28px;
  margin-bottom: 30px;
}

/* FILAS */
.fila-destinos {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 20px;
}

/* COLUMNA */
.col-destino {
  display: flex;
  justify-content: center;
}

/* IMAGEN */
.destino-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}
