.resumen {
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 8px;
}

.formulario {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.p-field {
  margin-bottom: 1rem;
}
